.author-list-container {
    overflow-x: auto;
}





.author-list-container::-webkit-scrollbar {
    display: none;
}

.author-list-widget {
    display: flex;
    flex-wrap: nowrap;
    /* padding: 20px; Adjust as needed */
}

.author-card {
    background-color: rgb(33, 5, 95);
    flex: 0 0 auto;
    width: 350px; /* Adjust card width as needed */
    margin-right: 20px; /* Adjust space between cards */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author-card:hover{
    background-color: gold;
}



.author-list-container .author-avatar img {
    padding: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Apply border-radius directly to the image */
   
}

.author-details {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center; /* Center text within author details */
}

.author-name a {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.total-post {
    margin-top: 5px;
    color: #666;
}

.biography {
    margin-top: 10px;
    color: #444;
}
