





/* Comment Box Styling */
/* Comment Box Styling */
.commentbox-area {
    height: fit-content;
    width: 50%;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 30px;
   
    margin-left: 13%;
    margin-right: 20%;
}

.commentbox-area .comment{
    margin-top: 10px
}

#comments{
    display: none;
}

.commentbox-area .comment-respond {
    height: fit-content;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f3f8f6;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
}

.commentbox-area .comment-respond h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

.commentbox-area .comment-form p {
    margin: 10px 0;
}

.commentbox-area .comment-form label {
    display: block;
    margin-bottom: 5px;
}

.commentbox-area .comment-form input[type="text"],
.commentbox-area .comment-form input[type="email"],
.commentbox-area .comment-form input[type="url"],
.commentbox-area .comment-form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.commentbox-area .comment-form input[type="checkbox"] {
    margin-right: 5px;
}

.commentbox-area .comment-notes {
    margin-bottom: 15px;
}

.commentbox-area .comment-form input[type="submit"] {
    background-color: #0073e5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.commentbox-area .comment-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.commentbox-area .comment-list {
    list-style: none;
    margin: 0;
    height: 100px;
    padding: 0;
}

.commentbox-area .comment {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.commentbox-area .vcard img {
    height: 30px;
    width: 30px;
}

.commentbox-area .comment-metadata {
    font-size: 14px;
    color: #888;
}

.commentbox-area .comment-content {
    margin-top: 10px;
}

.commentbox-area .comment-reply-link {
    color: #0073e5;
}

.commentbox-area .comment-reply-link:hover {
    color: #0056b3;
}

.comment .vcard {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed */
}

.comment .vcard img {
    vertical-align: middle;
    margin-right: 5px;
}

.comment .commentmetadata {
    float: inline-end;
    margin-top: -30px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #888;
    margin-left: 5px;
}

.vcard .says{
    display: none;
}

.vcard .fn a{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.comment-body{
    align-items: center;
}


@media (max-width: 768px){
    .commentbox-area{
        width: 80%;
    }

    .comment .commentmetadata {
        display: none;
    }
}





