/* Header container */
#header1 {
    background-color: #ffffff;
    /* Background color */
    height: 55px;
    /* Height of the header */
    padding: 20px;
    /* Padding around the header content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Box shadow for a subtle elevation effect */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.header1-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

/* Logo */
.site-logo img {
    height: 50px;
    /* Height of the logo */
    width: auto;
    /* Automatically adjust width to maintain aspect ratio */
}

.threeline-vasu {
    display: none;
}

/* Site title and description */
.header1-container .site-branding {
    flex-grow: 1;
    /* Allow the site branding to grow and occupy remaining space */
}

.header1-container .site-branding .site-title {
    font-size: 24px;
    /* Font size of the site title */
    margin-bottom: 5px;
    /* Bottom margin */
}

.header1-container .site-branding .site-description {
    font-size: 14px;
    /* Font size of the site description */
    color: #999;
    /* Text color */
}

/* Navigation menu */
#site-navigation {
    margin-left: auto;
    /* Pushes the navigation menu to the right */
}

.main-navigation-header-1 ul {
    list-style: none;
    /* Remove bullet points from the list */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
}

.main-navigation-header-1 {
    margin-left: 10px;
    margin-right: 10px;
}

.main-navigation-header-1 li {
    display: inline-block;
    /* Display menu items horizontally */
    margin-left: 20px;
    /* Left margin between menu items */
}

.main-navigation-header-1 a {
    text-decoration: none;
    /* Remove underline from links */
    color: #333;
    /* Link color */
    font-size: 16px;
    /* Font size of the menu items */
}

.main-navigation-header-1 a:hover {
    color: #007bff;
    /* Link color on hover */
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {

    /* Hide desktop navigation menu */
    .main-navigation-header-1 {
        display: none;
    }

    /* Show mobile navigation menu */
    #header1 {
        justify-content: flex-end;
    }

    .header1-container {
        flex-grow: 1;
    }

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

    .search-field,
    .search-submit{
        display: none;
    }

}



/* CSS styles for the side navigation menu */


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;

    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



.search-field {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.search-submit {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.search-submit:hover {
    background-color: #0056b3;
}

.search-container-vasux{
    padding-left: 10px;
    padding-right: 10px;
}


.threeline-icon-vasux img{
    height: 30px;
    width: 30px;
    display: none;
}